.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold
}

@media (mini-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}